img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.gap-40 {
    gap: 40px;
}

.f-basis-50 {
    flex-basis: 50%;
}

.f-basis-100 {
    flex-basis: 100%;
}

.f-column {
    flex-direction: column;
}