.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.flex-children {
    flex-basis: auto;
}

@media screen and (min-width: 500px) {
    .flex-children {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (min-width: 720px) {
    .flex-children {
        flex-basis: calc(33.3% - 20px);
    }
}

@media screen and (min-width: 960px) {
    .flex-children {
        flex-basis: calc(25% - 30px);
    }
}

@media screen and (min-width: 1200px) {
    .flex-children {
        flex-basis: calc(20% - 40px);
    }
}
